<section id="main-section">
  <ng-lottie *ngIf="FingerAnime" id="Lottie-anime" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  <ng-lottie *ngIf="submitAnime" id="Lottie-anime" [options]="success_lottie" (animationCreated)="animationCreated($event)"></ng-lottie>
  <div class="container">
    <div class="title" id="maintitle">
      <p>Student Details</p>
      <div>
        <img src="/assets/icon/Finger_icon.svg" (click)="getpunch()">
      </div>
    </div>
    <!-- GId Input box -->
    <div class="top">
      <!-- GId Input box -->
      <widget-icon-input [loadder]="gidloader" type="number" [gid]="true" label="GID" [defaule]="student[0].gid" placeholder="00000"
      (GetdataEvent)="gidd($event)" class="input"></widget-icon-input>
      <div class="input entry">
          <!-- <label for="">Entry Type</label> -->
        <div class="entrytype">
        <button class="EntryButton " (click)="EntryChek('r')">Regular</button>
        <button class="EntryButton active" (click)="EntryChek('s')">Special</button>
      </div>
      </div>
    </div>
    <!-- Main Form Startted -->
    <form id="Forms" *ngIf="Entry != ''">
      <div id="list">
        <table>
          <tr class="table-header">
            <th>#</th>
            <th>GID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Standard</th>
            <th class="action">Action</th>
          </tr>
          <tr *ngFor="let obj of grouplist;let i =index">
            <td style="margin-left: 5px;">{{i+1 | numberFormat}}</td>
            <td>{{obj.gid}}</td>
            <td>{{obj.name}}</td>
            <td>{{obj.suname}}</td>
            <td>{{obj.std}}</td>
            <td class="action"><svg (click)="removeList(i)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"
                class="icon">
                <path
                  d="M195.2 195.2a64 64 0 0190.496 0L512 421.504 738.304 195.2a64 64 0 0190.496 90.496L602.496 512 828.8 738.304a64 64 0 01-90.496 90.496L512 602.496 285.696 828.8a64 64 0 01-90.496-90.496L421.504 512 195.2 285.696a64 64 0 010-90.496z" />
              </svg></td>
          </tr>
        </table>
      </div>
      <!-- Gatepass Entry Form Started -->
      <div class="title" *ngIf="Entry == 'true'">
        <p>Gatepass Details</p>
      </div>
      <div class="filds" *ngIf="Entry == 'true'">
        <widget-select-box class="input" Ids="select2" [disabled]="regular" [error]="errors.area_error" [Value]="entryModel.area"
          (SelectesValue)="entryModel.area = $event"  label="Area Name" [data]="area_list"></widget-select-box>
        <widget-select-box class="input" Ids="select1" [disabled]="regular" [error]="errors.place_error" [Value]="entryModel.place"
          (SelectesValue)="entryModel.place = $event" label="Place Name" [data]="place_list"></widget-select-box>
        <widget-select-box class="input" Ids="select3" [disabled]="regular" [error]="errors.reason_error" [Value]="entryModel.reason"
          (SelectesValue)="entryModel.reason = $event" label="Reason Type" [data]="reason_list"></widget-select-box>
        <widget-select-box class="input" Ids="select4" [disabled]="regular" [error]="errors.permission_error" [Value]="entryModel.permission"
          (SelectesValue)="entryModel.permission = $event" label="Authorize Person" [data]="authpersion"></widget-select-box>
        <widget-normal-input label="Current Time" [defaule]="Curtime" [disable]="true" type="text"
          placeholder="Current Time" class="input"></widget-normal-input>
        <!-- custun tyme taking box -->
        <div class="time">
          <div class="label">
            <label for="">Return Time<font color="red">*</font></label>
          </div>
          <input type="number" min="00" max="12" onkeypress="if(this.value == 2) return false;" name="hh" [(ngModel)]="entryModel.return_time_hh" (input)="jump($event)"
            placeholder="HH"/>
            :
          <input onkeypress="if(this.value.length == 2) return false;" name="mm" [(ngModel)]="entryModel.return_time_mm" type="number" placeholder="MM"
            (input)="jump($event)" />
          <input (click)="changetext()" type="button" id="am_pm" name="am_pm" [(ngModel)]="entryModel.return_time_am_pm"   />
          <div class="error" *ngIf="errors.return_time_error">
            <p>This filds is required</p>
          </div>
        </div>
        <widget-select-box class="input" Ids="with" [disabled]="false " [error]="errors.with_error" [Value]="entryModel.with" (SelectesValue)="withChangeSelect($event)"
          label="{{ grouplist[0].name }} {{ grouplist[0].suname }} with" [data]="with">
        </widget-select-box>
        <widget-normal-input label="Reletive Name" *ngIf="withbool" [error]="errors.with_name_error" placeholder="Reletive Name"
          (GetdataEvent)="entryModel.with_name = $event" class="input"></widget-normal-input>
        <widget-normal-input label="Reletive Number" *ngIf="withbool" [error]="errors.with_number_error" [number]="true" placeholder="Reletive Number" type="number"
          (GetdataEvent)="entryModel.with_number = $event" class="input"></widget-normal-input>
      </div>
      <div class="title" (click)="entry()" *ngIf="Entry == 'true'">
        <widget-button (click)="entry()" class="input" [loader]="loader_button"></widget-button>
      </div>
      <!-- Gatepass Entry Form End -->
    </form>
  </div>
</section>
