@import "../../../utils/colors";
#home{
    width: 65%;
    margin: auto;
    height: auto;
    #route{
        margin: auto;
        margin-left: 20%;
        margin-top: 0%;
        transition: .1s all;
    }
}
