$color_white : #FFFFFF;
$border_color : #DCE0E3;
$border_color50 : #dce0e386;
$shadow_color : #EEEEEE;
$shadow_color : #d7d5d5;
$unhighlighted_font_color : #687178;
$main_background : #FAFAFA;
$Primary_Color : #702013;
$Primary_Color_hover : #8c463b;
$secondaryColor : #FCF5F3;
$secondaryColor_disbled : #faf7f6;
$font_color : #1F272E;
$tost_yellow : #ffefc5;
$tost_green :#d0ffe7;
$tost_red : #FFECEB;
$error:#ffe6ee;



