#main-section {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: var(--color_white);
  border: 1px solid var(--border_color50);
  box-shadow: 0px 0px 2px var(--shadow_color);
  border-radius: 8px;
  #Lottie-anime{
    position: absolute;
    left: 45%;
    top: 30%;
    width: 200px;
    padding: 10px;
    border:.5px solid var(--border_color50);
    box-shadow: 0px 0px 10px var(--shadow_color);
    border-radius: 15px;

    z-index: 999;
  }
  .container {
    border-radius: 8px;
    box-shadow: 0px 0px 2px var(--shadow_color);
    padding: 15px;

    .top {
      display: flex;
      justify-content: space-between;

      .item {
        width: 50%;
      }
    }
  }
}

#list {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;

  table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    border-radius: 10px;

    .table-header {
      position: sticky;
      top: 0px;
      background-color: #fff;

      th {
        margin: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: left;
        font-family: var(--open_sans_bold);
        font-size: 15px;
      }
    }

    tr {
      text-align: left;
      border: 2px solid #fff;

      td {
        font-size: 12px;
        font-family: var(--open_sans_mediun);

        svg {
          width: 15px;
          padding: 5px;
          border-radius: 5px;
          fill: red;
        }

        svg:hover {
          cursor: pointer;
          background-color: #ffe6ee;
        }
      }

      td:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .action {
        text-align: center;
      }
    }

  }
}

.title {
  width: 100%;
  // background-color: var(--color_white;
  margin-left: 10px;

  // padding-bottom: 2px;
  p {
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    font-family: var(--open_sans_bold);
    font-size: 16px;
  }
}

.form {
  display: flex;
  width: 100%;
}

.button_last {
  display: flex;
  width: 48%;

  widget-button {
    width: 50%;
  }
}
#Forms{
  height: 0px;
  overflow: hidden;
  transition: .5s all;
}